src/main/mule/poc_nisc_service_delivery_process_api_v4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="poc_nisc_service_delivery_process_api_v4-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="poc_nisc_service_delivery_process_api_v4-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" config-ref="poc_nisc_service_delivery_process_api_v4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3aa43b28-b96b-4f07-ba29-8b7ec8ec6d6f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"400",
            code:"ERR400",
            status:"400",
            title:"Bad Request",
            detail:"The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="080b7d8c-6843-414b-9653-f248705b25a9">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"404",
            code:"ERR404",
            status:"404",
            title:"Not Found",
            detail:"The server has not found anything matching the Request-URI.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8bbfba1e-9895-4d81-9b9d-4e26322d0191">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"405",
            code:"ERR405",
            status:"405",
            title:"Method Not Allowed",
            detail:"The method specified in the Request-Line is not allowed for the resource identified by the Request-URI. The response MUST include an Allow header containing a list of valid methods for the requested resource.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ed2538a2-ab81-4044-9673-851d946e775b">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"406",
            code:"ERR406",
            status:"406",
            title:"Not Acceptable",
            detail:"The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="92db0674-3e38-4fee-8f48-1d92e817527a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"415",
            code:"ERR415",
            status:"415",
            title:"Unsupported Media Type",
            detail:"The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY" enableNotifications="true" logException="true">
                <logger level="ERROR" doc:name="Logger" doc:id="3b7da6cd-e55d-417f-b469-3fce42475857" message="CHECK: #[error]"/>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="dbd650ca-6fea-4d4d-996f-d7db3d353713">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"500",
            code:"ERR500",
            status:"500",
            title:"Internal Server Error",
            detail:error.detailedDescription,
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\service\order\(id):application\json:poc_nisc_service_delivery_process_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="24996010-c6d9-4331-aaa4-afc15b4e7e96" name="setOrderIdVaribleFromURIId" />
		<flow-ref doc:name="updateServiceOrderById" doc:id="44a8f794-2f82-43ff-bf83-2dcf2b162c0b" name="updateServiceOrderById"/>
    </flow>
    <flow name="delete:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="a93c35e8-c8c3-4445-868c-d9294dc9503c" name="setOrderIdVaribleFromURIId"/>
        <flow-ref doc:name="deleteServiceOrderById" doc:id="8f96241e-4683-43f8-a9e6-bb1faa513560" name="deleteServiceOrderById"/>
		<set-payload value="#[null]" doc:name="Set null Payload" doc:id="b30e2ac5-df47-4937-9253-b7ddd199b8e9" />
        <logger level="INFO" message="delete:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config" />
    </flow>
    <flow name="get:\service\order:poc_nisc_service_delivery_process_api_v4-config">
        <flow-ref doc:name="getAllServiceOrderByFilters" doc:id="baca702f-0930-4a58-ab8e-0a9331cd76ee" name="getAllServiceOrderByFilters"/>
    </flow>
    <flow name="get:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="d4e158f4-cfcc-4803-a50f-454aabba0a6a" name="setOrderIdVaribleFromURIId"/>
        <flow-ref doc:name="getServiceOrderById" doc:id="41ba9310-0880-426c-9c16-130e5d12e25b" name="getServiceOrderById"/>
    </flow>
    <flow name="post:\service\order:application\json:poc_nisc_service_delivery_process_api_v4-config">
        <flow-ref doc:name="createAServiceOrderToProcess" doc:id="0caa6499-1e5b-4d5a-9f60-098db27e65ec" name="createAServiceOrderToProcess"/>
    </flow>
    <sub-flow name="setOrderIdVaribleFromURIId" doc:id="1f13820b-5b9d-4bb5-b502-c0118816f412" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="ce0d21de-32b4-4b01-a876-9c4e19552abe">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
</mule>
