src/main/mule/poc_nisc_service_delivery_process_api_v4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="poc_nisc_service_delivery_process_api_v4-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="poc_nisc_service_delivery_process_api_v4-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" config-ref="poc_nisc_service_delivery_process_api_v4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\service\order\(id):application\json:poc_nisc_service_delivery_process_api_v4-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1234,
  href: "",
  name: "",
  description: "",
  "type": "",
  version: "",
  state: "Active",
  serviceSpecification: {
    id: "conferenceBridgeEquipment",
    href: "http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment"
  },
  serviceCharacteristic: [
    {
      name: "numberOfVc500Units",
      value: "1"
    }, 
    {
      name: "numberOfVc100Units",
      value: "2"
    }, 
    {
      name: "routerType",
      value: "CiscoASR1000"
    }, 
    {
      name: "powerSupply",
      value: "UK"
    }
  ],
  serviceRelationship: [],
  relatedParty: [],
  supportingService: [],
  supportingResource: [],
  links: [
    {
      rel: "/linkrels/service/order/info",
      uri: "/service/order/1234",
      method: "GET"
    }, 
    {
      rel: "/linkrels/service/order/updateInfo",
      uri: "/service/order/1234",
      method: "PUT"
    }, 
    {
      rel: "/linkrels/service/order/delete",
      uri: "/service/order/1234",
      method: "DELETE"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config" />
    </flow>
    <flow name="get:\service\order:poc_nisc_service_delivery_process_api_v4-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1234,
    href: "",
    name: "",
    description: "",
    "type": "",
    version: "",
    state: "Active",
    serviceSpecification: {
      id: "conferenceBridgeEquipment",
      href: "http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment"
    },
    serviceCharacteristic: [
      {
        name: "numberOfVc500Units",
        value: "1"
      }, 
      {
        name: "numberOfVc100Units",
        value: "2"
      }, 
      {
        name: "routerType",
        value: "CiscoASR1000"
      }, 
      {
        name: "powerSupply",
        value: "UK"
      }
    ],
    serviceRelationship: [],
    relatedParty: [],
    supportingService: [],
    supportingResource: [],
    links: [
      {
        rel: "/linkrels/service/order/info",
        uri: "/service/order/1234",
        method: "GET"
      }, 
      {
        rel: "/linkrels/service/order/updateInfo",
        uri: "/service/order/1234",
        method: "PUT"
      }, 
      {
        rel: "/linkrels/service/order/delete",
        uri: "/service/order/1234",
        method: "DELETE"
      }
    ]
  }, 
  {
    id: 5678,
    href: "",
    name: "",
    description: "",
    "type": "",
    version: "",
    state: "Active",
    serviceSpecification: {
      id: "conferenceBridgeEquipment",
      href: "http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment"
    },
    serviceCharacteristic: [
      {
        name: "numberOfVc500Units",
        value: "1"
      }, 
      {
        name: "numberOfVc100Units",
        value: "2"
      }, 
      {
        name: "routerType",
        value: "CiscoASR1000"
      }, 
      {
        name: "powerSupply",
        value: "UK"
      }
    ],
    serviceRelationship: [],
    relatedParty: [],
    supportingService: [],
    supportingResource: [],
    links: [
      {
        rel: "/linkrels/service/order/info",
        uri: "/service/order/5678",
        method: "GET"
      }, 
      {
        rel: "/linkrels/service/order/updateInfo",
        uri: "/service/order/5678",
        method: "PUT"
      }, 
      {
        rel: "/linkrels/service/order/delete",
        uri: "/service/order/5678",
        method: "DELETE"
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\service\order\(id):poc_nisc_service_delivery_process_api_v4-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1234,
  href: "",
  name: "",
  description: "",
  "type": "",
  version: "",
  state: "Active",
  serviceSpecification: {
    id: "conferenceBridgeEquipment",
    href: "http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment"
  },
  serviceCharacteristic: [
    {
      name: "numberOfVc500Units",
      value: "1"
    }, 
    {
      name: "numberOfVc100Units",
      value: "2"
    }, 
    {
      name: "routerType",
      value: "CiscoASR1000"
    }, 
    {
      name: "powerSupply",
      value: "UK"
    }
  ],
  serviceRelationship: [],
  relatedParty: [],
  supportingService: [],
  supportingResource: [],
  links: [
    {
      rel: "/linkrels/service/order/info",
      uri: "/service/order/1234",
      method: "GET"
    }, 
    {
      rel: "/linkrels/service/order/updateInfo",
      uri: "/service/order/1234",
      method: "PUT"
    }, 
    {
      rel: "/linkrels/service/order/delete",
      uri: "/service/order/1234",
      method: "DELETE"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\service\order:application\json:poc_nisc_service_delivery_process_api_v4-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1234,
  state: "Active",
  serviceSpecification: {
    id: "conferenceBridgeEquipment",
    href: "http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment"
  },
  serviceCharacteristic: [
    {
      name: "numberOfVc500Units",
      value: "1"
    }, 
    {
      name: "numberOfVc100Units",
      value: "2"
    }, 
    {
      name: "routerType",
      value: "CiscoASR1000"
    }, 
    {
      name: "powerSupply",
      value: "UK"
    }
  ],
  relatedParty: [
    {
      role: "Subscriber",
      id: "1234",
      href: "http://serverLocation:port/partyManagement/partyRole/1234"
    }
  ],
  links: [
    {
      rel: "/linkrels/service/order/info",
      uri: "/service/order/1234",
      method: "GET"
    }, 
    {
      rel: "/linkrels/service/order/updateInfo",
      uri: "/service/order/1234",
      method: "PUT"
    }, 
    {
      rel: "/linkrels/service/order/delete",
      uri: "/service/order/1234",
      method: "DELETE"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
